:root {
    --color-primary: #A64AC9;      /* Morado */
    --color-accent: #D94FC5;       /* Rosa */
    --color-trust: #1E4D91;        /* Azul */
    --color-dark: #000000;        /* Negro */
    --color-light: #FFFFFF;       /* Blanco */
  }
  